.item{
    width: 350px;
    height: 400px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}
img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.front,
.back{
    position: absolute;
    top: 0;
    transition: all .6s;
}
.front{
    z-index: 1;
}