body{
    background-color: #17a2b8;
}
.grid-container {
    background-color: white;
    max-width: 1140px;
    width: 58%;
    margin: 0 auto;
    border: 1px solid white;
    display: grid;
    grid-template-columns: auto auto auto;
   gap: 1px;
   margin-bottom: 80px;
  }
img{
    width: 100%;
    height: 100%;
}
h1{
    text-align: center;
    color: white;
    font-size: 56px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 100px;
    margin-bottom: 5px;
}
.grid-item-1{
    animation-name: animate1;
   animation-duration: 6s;
}
.grid-item-9,
.grid-item-2{
    animation-name: animate2;
    animation-duration: 6s;
}
.grid-item-6,
.grid-item-7{
    animation-name: animate6;
    animation-duration: 6s;
}
.grid-item-3,
.grid-item-4{
    animation-name: animate3;
    animation-duration: 6s;
}
.grid-item-8{
    animation-name: animate8;
    animation-duration: 6s;
}
.grid-item-5{
    animation-name: animate5;
    animation-duration: 6s;
}
@keyframes animate1 {
   0%{
        transform: translateX(0);
    }
  50%{
    transform: translateX(260px);
  }
  100%{
    transform: translate(258px,150px);
  }
}
@keyframes animate5 {
    0%{
         transform: translateX(0);
     }
   50%{
     transform: translateY(150px);
   }
   100%{
     transform: translate(258px,150px);
   }
 }
@keyframes animate2 {
    0%{
       transform: translate(0);
    }
    100%{
        transform: translateX(-260px);
    }
}
@keyframes animate6 {
    0%{
        transform: translate(0);
    }
    100%{
        transform: translateY(-150px);
    }
}
@keyframes animate3 {
    0%{
        transform: translate(0);
    }
    100%{
        transform: translateY(150px);
    }
}
@keyframes animate8 {
    0%{
        transform: translate(0);
    }
    100%{
        transform: translateY(-300px);
    }
}